body { 
  background-color: #E8E8E8; 
}

a {
  color: inherit;
}

/* page-heading class made with help from https://css-tricks.com/snippets/css/transparent-background-images/ */

#page-heading {
  height: 66vh;
  width: 100vw;
  position: relative;
  display: block;
}

#page-heading::after {
  /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
  content: "";
  background: #F39330;
  background: -webkit-radial-gradient(bottom left, #F39330, #106075);
  background: -moz-radial-gradient(bottom left, #F39330, #106075);
  background: radial-gradient(bottom left, #F39330, #106075);
  background-attachment: scroll;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#title {
  margin-top: 20%;
  text-align: center;
}

#title h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 5em;
  color: #131313;
}

#title p {
  font-size: 1.6em;
  color: #2E2E31;
}

#main, footer { font-family: 'Nunito Sans', sans-serif; }

#main p {
  font-size: 1.3em;
}

.project {
  text-align: center;
}

.project-image {
  width: 200px;
  height: 200px;
}

.github, .project-image {
  margin: 5px auto;
}

.pacifico { font-family: 'Pacifico', cursive; }

footer {
  height: 100px;
  text-align: center;
  padding-top: 1.3em;
}

footer ul {
  padding: 0px;
}

footer ul li {
  list-style: none;
  display: inline;
  margin:0px 10px;
}
